<!-- <label>Server name</label>
<input
type="text"
class="form-control"
(input)="onUpdateServerName($event)">
{{ serverName }} -->
<label>Server name</label>
<input
type="text"
class="form-control"
[(ngModel)]="serverName">
<p></p>
<label>Server route</label>
<input
type="text"
class="form-control"
[(ngModel)]="serverRoute">
<!-- <p>{{ serverName }}</p> -->
<!-- <p>{{ serverName }}</p> -->
<p></p>Button
<button 
class="btn btn-priumary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p>   
<p>{{allowNewServer}}</p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated">
    Server was created! Name is {{ serverName }} and route is {{serverRoute}};
</p>
<p *ngIf="!serverCreated">
    No Server was created!;
</p>
<app-server></app-server>
