<!-- <p>The Server witch ID {{serverId}} is {{serverStatus}}</p>
<p>The Server witch ID {{ getServerId() }} is {{ getServerStatus() }}</p> -->
<p [ngStyle]="{backgroundColor:getColor()}">The Server witch ID {{serverId}} is {{ getServerStatus() }}</p>